body 
{ 
  margin: 0;
<<<<<<< HEAD
  font-family:  sans-serif;
=======
  font-family: Poppins, sans-serif;
>>>>>>> 5714ba9d591fbdad08f37462e63fc050eeab87e1
}

#header 
{
  background-color: #f1f1f1;
  padding: 30px 0px 0px 0px;
  color: black;
  font-size: 0px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
<<<<<<< HEAD
  margin-top: -30px;
  display: flex;
}

#header_img_left
{
width: 10%;
margin-right: auto;
transition: 0.2s;
}

#header_img_right
{
width: 5%;
margin-left: auto;
transition: 0.2s;
padding-right: 30px;
=======
>>>>>>> 5714ba9d591fbdad08f37462e63fc050eeab87e1
}

